@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: black;
    padding: 0 15%;
}

.bg-container {
    position: relative;
    display: inline-block;
    
}

.title-container {
    position: absolute;
    /* display: flex;
    justify-content: center;
    width: 100%;
    align-items: center; */
    text-align: center;
    width: 100%;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-image{
    height: 100vh;
}


.odin-img {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: middle;

}

.title-container > h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: Norse-Bold,verdana, arial;
    font-size: 100px;
    color: white;
}

.form-container {
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100vh;
}